<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletConfigurator</servlet-name>
        <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
        <init-param>
            <param-name>propertyFile</param-name>
            <param-value>WEB-INF/proxool.properties</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ValidaAcceso</servlet-name>
        <servlet-class>com.controllers.ValidaAcceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenEmpleados</servlet-name>
        <servlet-class>com.controllers.ObtenEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaEmpleado</servlet-name>
        <servlet-class>com.controllers.EliminaEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEmpleado</servlet-name>
        <servlet-class>com.controllers.EditarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerEmpleado</servlet-name>
        <servlet-class>com.controllers.ObtenerEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuestosDepartamentos</servlet-name>
        <servlet-class>com.controllers.PuestosDepartamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEmpleado</servlet-name>
        <servlet-class>com.controllers.AgregarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenDepartamentos</servlet-name>
        <servlet-class>com.controllers.ObtenDepartamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerDepartamento</servlet-name>
        <servlet-class>com.controllers.ObtenerDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarDepartamento</servlet-name>
        <servlet-class>com.controllers.EditarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenEmpleadosDepartamento</servlet-name>
        <servlet-class>com.controllers.ObtenEmpleadosDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerPuestos</servlet-name>
        <servlet-class>com.controllers.ObtenerPuestos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaAcceso</servlet-name>
        <url-pattern>/ValidaAcceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenEmpleados</servlet-name>
        <url-pattern>/Empleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaEmpleado</servlet-name>
        <url-pattern>/EliminaEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEmpleado</servlet-name>
        <url-pattern>/EditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerEmpleado</servlet-name>
        <url-pattern>/ObtenerEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuestosDepartamentos</servlet-name>
        <url-pattern>/PuestosDepartamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEmpleado</servlet-name>
        <url-pattern>/AgregarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenDepartamentos</servlet-name>
        <url-pattern>/ObtenDepartamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerDepartamento</servlet-name>
        <url-pattern>/ObtenerDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarDepartamento</servlet-name>
        <url-pattern>/EditarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenEmpleadosDepartamento</servlet-name>
        <url-pattern>/ObtenEmpleadosDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerPuestos</servlet-name>
        <url-pattern>/ObtenerPuestos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
